{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ title }}</h1>

  <p>
    <div class="text-center">
      <img class="img-thumbnail"
	   src="{{ url_for('static', filename='graphics/cms_160312_02.png') }}">
    </div>
  </p>
  
  <p>
    A closer look at how the CMS detector works is shown below.
    This is a cross-sectional slice of CMS showing how each type of particle
    interacts with, and is detected by, CMS.
  </p>

  <p>
    <div class="text-center">
      <img class="img-thumbnail"
	   src="{{ url_for('static', filename='graphics/CMSslice_whiteBackground.png') }}">
    </div>
  </p>


  
  <p>
    A 3D interactive view of the CMS detector is below:
  </p>
  
  <p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
	      src="https://cms3d.web.cern.ch/detector-embedded/"
	      allowfullscreen>
      </iframe>
    </div>
  </p>

  
</div>
{% endblock %}
